.cursiva {
    font-style: italic;
 }
 
//Color de letras
 .colorLetra {
    color:rgb(150, 88, 69);
}
.colorRojo {
    color: red;
}
.colorCeleste {
    color: rgb(18, 129, 219);
}
.colorAzul {
    color: rgb(22, 22, 184);
}
