//import
@import "animaciones";
@import "transiciones";
@import "tipografía";
@import "margenes";
@import "variables";

//mapa 

$mapas:(
    //clave: valores

    inicio:blanchedalmond,
    edificio: blue,
    consultas:burlywood,
    nosotros:aquamarine,
    contacto:blueviolet
);


@each $claves, $fondos in $mapas {
    .fondo-#{$claves} {
        background-color: $fondos;
        
    }
    
}

//extend
.bordes {
    border-radius: 3px black;
    background-color: aqua;
    width: 10%;
 }
 .bordes-nuevo 
 { @extend .bordes;
    border-radius: 2px;}

//mixin
@mixin tamanio ($ancho, $alto) 
{width: $ancho;
    height: $alto;
    
}

.elemento-1 {
    @include tamanio (5%,3%)
}
.elemento-2 {
    @include tamanio (5%,3%)
}
.elemento-3 {
    @include tamanio (5%,3%)
}




//EDIFICIOS, DOCUMENTACION Y NOSOTROS LO NUEVO 

/* EDIFICIOS, DOCUMENTACION Y NOSOTROS LO NUEVO */
.marginTop {
    margin-top: 2%;
}
.textoNegro {
    height: 38%;
    background-color: rgba(63, 55, 55, 0.65);
}
.colorLetra {
    color:rgb(150, 88, 69);
}
.colorRojo {
    color: red;
}
.colorCeleste {
    color: rgb(18, 129, 219);
}
.colorAzul {
    color: rgb(22, 22, 184);
}
.cursiva {
    font-style: italic;
}
.back {
    background-color: bisque;
}
.alturaNosotros {
    height: 30%;
}
.imagen {
    background-image: url(./fotito.jpg);
}
.backi {
    background-color: rgba(209, 209, 209, 0.65);
}



.transicionHeader {
        transition: all infinite;
     }

.transicionHeader:hover {
    color: azure;
        background-color: rgb(34, 33, 33);
     }


.marginCostado {
    margin-left: 2%;
}
.back {
    background-color: rgb(209, 209, 209);
}


